[build]
  publish = "dist/"

[[headers]]
  for = "/*"
  [headers.values]
  X-Content-Type-Options = "nosniff"
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.js"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"
