@import "./styles/transformer.css";

@font-face {
    font-family: 'Wotfard';
    font-style: normal;
    font-weight: 400;
    src: local('Wotfard'), url('/public/assets/wotfard-regular-webfont.woff2') format('woff2');
}


@layer base {
	img {
		@apply rounded-xl;
	}
}

@layer utilities {
	.heading {
		@apply shadow-none text-slate-900 leading-none !important;
	}

	.heading:hover::after {
		@apply opacity-80 text-sprout-400;
		content: " #";
	}
}
